@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
    margin: 0px;
    padding: 0px;
    font-size: 14.5px;
    font-weight: normal;
    color: #333;
    line-height: 1.5;
    font-family: "Noto Sans KR", "Montserrat", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

/*    전역스타일    */
div {
    display: block;
}

p {
    margin: 0px;
    word-break: keep-all;
}

span {
    margin: 0px;
}

a {
    color: #333;
}

h3 {
    letter-spacing: -0.3px;
    font-weight: 600;
    word-break: keep-all;
}

/*   footer    */
dl {
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
}

dt {
    display: inline-block;
}

dd {
    display: inline-block;
    margin-left: 4px;
}

dl::after {
    content: "";
    display: block;
    position: absolute;
    right: -7px;
    top: 5px;
    width: 1px;
    height: 10px;
    background-color: #717171;
    margin: 0 4px;
}
