body {
    margin: 0px;
    padding: 0px;
    font-size: 14.5px;
    font-weight: normal;
    color: #333;
    line-height: 1.8;
    font-family: "Noto Sans KR", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

/*    전역스타일    */
p {
    margin: 0px;
    word-break: keep-all;
}

a {
    color: #333;
}

h3 {
    letter-spacing: -0.3px;
    font-weight: 600;
    word-break: keep-all;
}
