a {
    text-decoration: none;
}

.goodsCnt {
    float: left;
    padding: 0 2px;
    width: 40px;
    outline: none;
    height: 31px;
    border: 1px solid #ccc;
    color: #3f3f3f;
    font-size: 13px;
    line-height: 31px;
    text-align: center;
    z-index: 4;
    margin-right: -2px;
}

.goodsCntUp {
    background: url(../shared/btn_count_up.png) no-repeat left top;
    display: block;
    width: 24px;
    height: 19px;
    text-indent: -9999px;
    outline: none;
    border: none;
    cursor: pointer;
}

.goodsCntDwn {
    margin: -3px 0 0;
    background: url(../shared/btn_count_down.png) no-repeat left top;
    display: block;
    width: 24px;
    height: 19px;
    outline: none;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}

.likebtn {
    display: inline-block;
    width: 52px;
    height: 52px;
    text-align: center;
    background: url(../shared/zzim_heart@3x.png) no-repeat center center;
    background-size: 26px 23px;
    border: 1px solid #ccc;
}

.on {
    margin-top: -16px;
    z-index: 20;
}

.on > a {
    padding-top: 18px;
    margin-top: 8px;
    color: #333333;
    font-weight: bold;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ffffff;
}

a > strong {
    color: #29c1bc;
    font-weight: 600;
}

.open {
    background: #f6f6f6;
    display: block;
    display: table-row;
}

.close {
    display: none;
}

.open > td {
    padding: 13px 10px 15px 18px;
    border-bottom: 1px solid #dbdbdb;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.open > td > div {
    float: right;
    width: 82.5%;
    padding: 0 30px 60px 0;
}
